.tap:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  left: 50%;
  margin-left: -25%;
  border-top: 3px solid #008000;
  box-shadow: -10px 0 10px rgba(20, 163, 20, 0.3),0 0 20px rgba(20, 163, 20, 0.4), 10px 0 30px rgba(20, 163, 20, 0.5);
  content: ' ';
}
.tap.active:before {
  -webkit-animation: lines 2.5s linear;
          animation: lines 2.5s linear;
}
@keyframes lines {
0% {
    top: 0;
}
50% {
    top: 100%;
}
100% {
    top: 0;
}
}