@media ( -webkit-min-device-pixel-ratio:1.5 ) , (min-device-pixel-ratio:1.5)
  .bt-1px
    &::before
      transform scaleY(0.7)
  .bb-1px
    &::after
      transform scaleY(0.7)
  .br-1px
    &::after
      transform scaleY(0.7)
  .bl-1px
    &::after
      transform scaleY(0.7)
  .border-1px
    &::before
      border-width .7px!important
    &::after
      border-width .7px!important
@media ( -webkit-min-device-pixel-ratio:2 ) , (min-device-pixel-ratio:2)
  .bt-1px
    &::before
      transform scaleY(0.5)
  .bb-1px
    &::after
      transform scaleY(0.5)
  .br-1px
    &::after
      transform scaleY(0.5)
  .bl-1px
    &::after
      transform scaleY(0.5)
  .border-1px
    &::before
      border-width .5px!important
    &::after
      border-width .5px!important