$color-blue = #4cacf0
$color-blue1 = #c6e8fd
$color-blueshadow = #44b2f7
$color-placeholder = #aaaaaa
$color-input = #333333
$color-blank = #fff
$btn-default = #4cacf0
$btn-active = #cfeafb
$color-999 = #999999
$color-666 = #666666
$color-333 = #333333
$color-home = #c73f63